<!--Field Errors-->
{% for field in form %}
<div class="col-12">
    {% if field.errors %}
    <span class="fw-bold">{{ field.label_tag }}</span>
    {% for error in field.errors %}
    <span class="text-danger">{{error}}</span>
    {% endfor %}
    {% endif %}
</div>
{% endfor %}

<!--Non Field Errors-->
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
    <span class="text-danger">{{error}}</span>
</div>
{% endfor %}

<!-- Success messages -->
 {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
                <span class="text-success">{{message}}</span> 
        </div>
    {% endfor %}
 {% endif %}