<!--Field Errors-->
{% for field in form %}
<div class="col-12">
    {% if field.errors %}
    <span class="fw-bold">{{ field.label_tag }}</span>
    {% for error in field.errors %}
    <span class="text-danger">{{error}}</span>
    {% endfor %}
    {% endif %}
</div>
{% endfor %}

<!--Non Field Errors-->
{% for error in form.non_field_errors %}
<div class="alert {% if error.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}">
    <span class="text-danger">{{error}}</span>
</div>
{% endfor %}

<!-- Success messages -->
 {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}">
                <span class="{% if message.tags == 'success' %}text-success {% else %} text-danger {% endif %}">{{message}}</span> 
        </div>
    {% endfor %}
 {% endif %}